pip install absl-py==1.4.0
pip install asgiref==3.7.2
pip install astunparse==1.6.3
pip install attrs==23.1.0
pip install backports.zoneinfo==0.2.1
pip install beautifulsoup4==4.12.2
pip install bottle==0.12.25
pip install bottle-websocket==0.2.9
pip install CacheMan==2.2.0
pip install cachetools==5.3.1
pip install certifi==2023.7.22
pip install cffi==1.15.1
pip install charset-normalizer==3.2.0
pip install comtypes==1.1.10
pip install contourpy==1.1.0
pip install cvzone==1.6.1
pip install cycler==0.11.0
pip install cyhunspell==2.0.2
pip install dataclasses==0.6
pip install distlib==0.3.7
pip install Django==4.2.5
pip install EasyProcess==1.1
pip install Eel==0.14.0
pip install entrypoint2==1.1
pip install enum34==1.1.10
pip install filelock==3.12.4
pip install flatbuffers==23.5.26
pip install fonttools==4.42.1
pip install future==0.18.3
pip install gast==0.4.0
pip install gevent==23.9.0.post1
pip install gevent-websocket==0.10.1
pip install google-auth==2.23.2
pip install google-auth-oauthlib==1.0.0
pip install google-pasta==0.2.0
pip install greenlet==2.0.2
pip install grpcio==1.59.0
pip install h5py==3.9.0
pip install idna==3.4
pip install importlib-metadata==6.8.0
pip install importlib-resources==6.0.1
pip install keras==2.13.1
pip install kiwisolver==1.4.5
pip install libclang==16.0.6
pip install Markdown==3.4.4
pip install MarkupSafe==2.1.3
pip install matplotlib==3.7.2
pip install mediapipe==0.8.3.1
pip install MouseInfo==0.1.3
pip install mss==9.0.1
pip install numpy==1.24.3
pip install oauthlib==3.2.2
pip install opencv-contrib-python==4.8.0.76
pip install opencv-python==4.5.3.56
pip install opt-einsum==3.3.0
pip install packaging==23.1
pip install Pillow==10.0.0
pip install pip==23.2.1
pip install platformdirs==3.11.0
pip install protobuf==3.20.3
pip install psutil==5.9.5
pip install pyasn1==0.5.0
pip install pyasn1-modules==0.3.0
pip install PyAudio==0.2.13
pip install PyAutoGUI==0.9.53
pip install pycaw==20181226
pip install pycparser==2.21
pip install pyenchant==3.2.2
pip install PyGetWindow==0.0.9
pip install PyMsgBox==1.0.9
pip install pynput==1.7.3
pip install pyparsing==3.0.9
pip install pyperclip==1.8.2
pip install pypiwin32==223
pip install PyRect==0.2.0
pip install pyscreenshot==3.1
pip install PyScreeze==0.1.29
pip install python-dateutil==2.8.2
pip install pyttsx3==2.71
pip install pytweening==1.0.7
pip install pywin32==306
pip install requests==2.31.0
pip install requests-oauthlib==1.3.1
pip install rsa==4.9
pip install screen-brightness-control==0.9.0
pip install setuptools==47.1.0
pip install six==1.16.0
pip install soupsieve==2.5
pip install SpeechRecognition==3.8.1
pip install sqlparse==0.4.4
pip install tensorboard==2.13.0
pip install tensorboard-data-server==0.7.1
pip install tensorflow==2.13.0
pip install tensorflow-estimator==2.13.0
pip install tensorflow-intel==2.13.0
pip install tensorflow-io-gcs-filesystem==0.31.0
pip install termcolor==2.3.0
pip install tk==0.1.0
pip install typing_extensions==4.5.0
pip install tzdata==2023.3
pip install urllib3==2.0.4
pip install virtualenv==20.24.5
pip install virtualenvwrapper-win==1.2.7
pip install Werkzeug==3.0.0
pip install wheel==0.41.2
pip install whichcraft==0.6.1
pip install wikipedia==1.4.0
pip install WMI==1.5.1
pip install wrapt==1.15.0
pip install zipp==3.16.2
pip install zope.event==5.0
pip install zope.interface==6.0